.card {
  width: 260px;
  height: 500px;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  position: relative;

  &__img {
    width: 20rem;
    height: 20rem;
    img {
      border-radius: 20px;
    }
  }

  &__desc {
    padding: 20px 40px;
    max-height: 100px;
    text-align: center;
    > p {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  &__price {
    text-align: center;
    margin-bottom: 10px;

    &-count {
      font-size: 2rem;
      color: #f85f8a;
    }
  }
  &__order {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    position: relative;
    > a {
      margin-top: 30px;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s ease;
    }
  }
  &__buy {
    // background-color: var(--main-color);
    background-color: #e4a082;
    // background-color: #51888d;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  &__buy:hover {
    background-color: #51888d;
    transition: all 0.5s ease;
  }
}

.crying-baby {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}
