.container {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
.social-icon {
  transition: 0.4s ease;
}
.social-icon:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
