// @import-normalize;
@import "./styles/normalize.scss";
@import "./styles/vars.scss";
@import "./styles/index.scss";

html {
  font-size: 10px;
}

.block-header {
  display: flex;
  justify-content: center;
  img {
    width: 25%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
  }
}

.body-menu {
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  background-color: rgb(150, 109, 109);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.body-menu-item {
  width: 30%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  background-image: url("./assets/images/ligero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
  backdrop-filter: brightness(60%);
  border: 20px;
}

.popup {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.button {
  background-color: #e49b97;
  padding: 10px;
  border-radius: 20pxv;
}
// import React from "react";
// import { useState } from "react";
// import { BrowserRouter as Router, Routes, Route } from "react-router-dom";
// import CardDetails from "./components/card/CardDetails";
// import CarSeatsDetail from "./components/card/CarSeatsDetail";
// import Layout from "./components/Layout";
// import CarSeat from "./pages/CarSeat";
// import Home from "./pages/Home";
// import ShopingCart from "./pages/ShopingCart";
// import Stroller from "./pages/Stroller";
// import LayoutAdmin from "./components/LayoutAdmin";
// import Admin from "./admin-pages/Admin";
// import Products from "./admin-pages/Products";
// import Users from "./admin-pages/Users";
// import Login from "./admin-pages/Login";

// function App() {
//   const [isAuth, setIsAuth] = useState(true);
//   return (
//     <div className="baby-shop">
//       <Router>
//         <Routes>
//           <Route path="/" element={<Layout />}>
//             <Route index element={<Home />} />
//             <Route path="strollers" element={<Stroller />} />
//             <Route path="strollers/:strollerId" element={<CardDetails />} />
//             <Route path="car-seats" element={<CarSeat />} />
//             <Route path="car-seats/:carseatId" element={<CarSeatsDetail />} />
//             <Route path="shoping-cart" element={<ShopingCart />} />
//           </Route>
//           <Route>
//             <Route path="/admin-panel" element={<LayoutAdmin />}>
//               {isAuth ? (
//                 <>
//                   <Route index element={<Admin />} />
//                   <Route path="products" element={<Products />} />
//                   <Route path="users" element={<Users />} />
//                 </>
//               ) : (
//                 <Route path="login" element={<Login />} />
//               )}
//             </Route>
//           </Route>
//         </Routes>
//       </Router>
//     </div>
//   );
// }

// export default App;
// {
//   /* <div className="container">
// <div className="strollers">
//   {shopSlice.map((item) => (
//     <Card item={item} />
//   ))}
// </div>
// </div> */
// }

// <Route element={<PrivateRoutes />}>
// <Route exact path="/admin-panel" element={<LayoutAdmin />}>
//   <Route index element={<Admin />} />
//   <Route path="products" element={<Products />} />
//   <Route path="users" element={<Users />} />
// </Route>
// </Route>
// <Route path="login" element={<Login />} />
