// @import-normalize;
@import "./styles/normalize.scss";
@import "./styles/vars.scss";
@import "./styles/index.scss";

html {
  font-size: 10px;
}

.block-header {
  display: flex;
  justify-content: center;
  img {
    width: 25%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
  }
}

.body-menu {
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  background-color: rgb(150, 109, 109);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.body-menu-item {
  width: 30%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  background-image: url("./assets/images/ligero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
  backdrop-filter: brightness(60%);
  border: 20px;
}

.popup {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.button {
  background-color: #e49b97;
  padding: 10px;
  border-radius: 20pxv;
}
